<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IGlobalTimeService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:12345/GlobalTimeService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGlobalTimeService"
          contract="GlobalTimeServiceInterfaces.IGlobalTimeService" name="MyGlobalTimeServiceEndpoint">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>