<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="GlobalTimeServices.GlobalTimeService">
        <endpoint
          address="http://localhost:12345/GlobalTimeService"
          binding="wsHttpBinding"
          contract="GlobalTimeServiceInterfaces.IGlobalTimeService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>